@import url("commons.css");

.kv .kv--title {
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kv .kv--title h2 {
  color: white;
  font-size: 4rem;
  padding-bottom: 150px;
}

.kv--title__cta {
  padding: 3px 15px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: rgb(8, 8, 8);
  background-color: rgb(209, 255, 188);
}

.backImg1 {
  background-image: url("../images/Image_fx.jpg");
  background-position: center;
  background-size: cover;
}
.backImg2 {
  background-image: url("../images/Image_fx\ \(1\).jpg");
  background-position: center;
  background-size: cover;
}
.backImg3 {
  background-image: url("../images/Image_fx\ \(2\).jpg");
  background-position: center;
  background-size: cover;
}
.backImg4 {
  background-image: url("../images/Image_fx\ \(3\).jpg");
  background-position: center;
  background-size: cover;
}

.content--title h3 {
  margin-bottom: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content--title .line {
  font-size: 900;
}

.content--title .line::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -20px;
}

.service img {
  width: 50%;
}

.participate {
  height: 680px;
  background-color: #f9fafe;
  display: flex;
}

.participate--right {
  background-color: #fff;
  text-align: left;
  padding: 20px;
}

.participate--right > h4 {
  font-size: 1.25rem;
}

.participate--right > p {
  padding-bottom: 40px;
  font-size: 1rem;
}
.participate .campaign {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campaign img {
  width: 40%;
}
